<p id="notice"><%= notice %></p>

<h1>Destroy Book</h1>
<% @book.title %>

<%= form_for( @book, :method=>"delete" ) do |form| %>

  <p>Are you sure you want to permanenty delete this book?</p>
  <p><%= @book.title %></p>

  <div class="actions">
    <%= form.submit("Delete Book") %>
  </div>
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>